<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <fieldset>
        <legend>{{ localize "DND5E.FORWARD.FIELDS.activity.label" }}</legend>
        {{ formField fields.activity.fields.id value=source.activity.id options=activityOptions }}
    </fieldset>
    {{> "modules/midi-qol/templates/activity/parts/overtime-extras.hbs" }}

</section>
